{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}

<div class="jumbotron">
	<h2>About Dogenerator</h2>
	<p>
		Dogenerator turns text into doge. Made at Thanksgiving party 2013 by Jenny (doge expert), Steven (top coder), and Victor (moral support).

		Inspired by "Hey we should create a doge generator" and "We have three CS majors and two laptops between us, I bet it would take an hour tops."
	</p>
	<p>
		Dedicated to Stephen Yoo, Jenny's favorite doge.
	</p>
	<h2>Coming Soon</h2>
	<p>
		Better image generation! MORE DOGE.
	</p>
</div>


{% endblock %}