{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}

<div class="jumbotron" id="main">
	<h2>Dogify me</h2>
	<p class="lead">
		Paste text here and we'll doge it for you. pls patience. much thx.
	</p>
	<p>
		<textarea name="user-input" id="user-input"></textarea>
	</p>
	<p>
		<a class="btn btn-lg btn-success" href="#" role="button" id="dogify">Dogify</a>
		<a class="btn btn-lg btn-success" href="#" role="button" id="save">Open Image</a>
	</p>

	<div id="result"></div>
	<div class="error"></div>
	<canvas id="image-canvas"></canvas>
</div>


{% endblock %}